[submodule "lygia"]
	path = lygia
	url = https://github.com/patriciogonzalezvivo/lygia.git
[submodule "lygia_examples"]
	path = lygia_examples
	url = https://github.com/patriciogonzalezvivo/lygia_examples
